@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(/fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --white--trans: rgba(255, 255, 255, 0.1);
  --grey-01: #f9f9f9;
  --grey-02: #f3f3f3;
  --grey-03: #ccc; /* not in use? */
  --grey-04: #ddd;
  --grey-06: #353535;
  --grey-07: #242424;
  --grey-08: #1a1a1a;
  --black: #000;
  --black--trans: rgba(0, 0, 0, 0.1);

  --highlight: #1e64bf;
  --highlight--hover: #18599b;
  --error: #d8000c;

  font-family: "Raleway", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
textarea {
  border: 0.0625rem solid var(--grey-08);
  border-radius: 0.125rem;
}

a {
  color: var(--highlight);
  text-decoration: inherit;
}
a:hover {
  color: var(--highlight--hover);
}

body {
  margin: 0;
  color: var(--white);
  background-color: var(--grey-07);
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

h1 {
  font-size: 1.6em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--highlight);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.25s;
}
.button:hover {
  background-color: var(--highlight--hover);
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 40rem) {
  #root {
    padding: 2rem;
  }
  h1 {
    font-size: 2.4em;
  }
}

@media screen and (min-width: 60rem) {
  #root {
    padding: 4rem;
  }
  h1 {
    font-size: 3.2em;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--grey-07);
    background-color: var(--white);
  }
  input,
  textarea {
    border-color: var(--grey-04);
  }
}
